//backgrounds
$default-layout-bcg: #fff;

//text
$text-color: #212224;
$text-color-secondary: #707070;
$text-color-default: #000000;

//borders
$border-default-color: #707070;

//notifications
$success-notification-color: #04C091;
$error-notification-color: #FF4646;

//overlay
$overlay-background-color: #000000;

//preloader
$preloader-main-color: #E9F6FF;
$preloader-secondary-color: #7BCBFD;

//buttons
$default-button-bcg: #006896;
$default-button-color: #ffffff;
$default-button-border-color: #707070;